.CasosDeUso__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .35);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.CasosDeUso {
  position: absolute;
  background-color: rgba(240, 240, 240);
  box-shadow:
    0 .25rem .15rem rgba(0, 0, 0, .15),
    0 .25rem 1rem rgba(0, 0, 0, .15);
  z-index: 20;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  bottom: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  clip-path: inset(0% 0% 0% 0% round 10px);
}

.CasosDeUso__boton_cerrar {
  right: .5rem;
  top: .5rem;
  position: absolute;
  font-size: 1.5rem;
  opacity: .5;
}
