.CasosDeUso__overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .35);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  pointer-events: none;
  opacity: 0;
  transition: all .15s ease;
}

.CasosDeUso__overlay--activo {
  pointer-events: all;
  opacity: 1;
}

.CasosDeUso {
  position: absolute;
  background-color: rgba(240, 240, 240);
  box-shadow:
    0 .25rem .15rem rgba(0, 0, 0, .15),
    0 .25rem 1rem rgba(0, 0, 0, .15);
  z-index: 20;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  clip-path: inset(0% 0% 0% 0% round 10px);
  opacity: 0;
  transition: all .15s ease;
  background: linear-gradient(
    45deg,
    var(--color-rojo) 0 15%,
    var(--color-azul),
    var(--color-purpura) 75%
  );
  background-size: 400% 400%;
  animation: Superior__bg 15s ease-in-out infinite;
}

.CasosDeUso--visibles {
  opacity: 1;
}

.CasosDeUso__boton_cerrar {
  right: .5rem;
  top: .5rem;
  position: absolute;
  font-size: 1.5rem;
  opacity: .5;
}

.CasosDeUso__contenedor_botones {
  display: flex;
  flex-direction: column;
}

.CasosDeUso__contenedor_caso {
  flex: 1;
}